/* Import fonts from src/fonts */
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-HeavyItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
/* Box-sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* Body */
body {
  margin: 0;
  font-family: SFUIText, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
